.shareBoxContainer {
  width: 230px;
  height: 248px;
  background-color: #fff;
  margin: 0;
  display: flex;
}

.shareStack {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facebookShare,
.googleShare,
.twitterShare,
.pinterestShare,
.redditShare {
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  align-self: center;
}

.redditWrapper,
.pinterestWrapper {
  display: flex;
  flex-direction: row;
}
.redditWrapper .reddit,
.pinterestWrapper .reddit {
  position: absolute;
  width: 23px;
  height: 23px;
  margin-left: 5px;
  margin-top: 3px;
}

.pinterestWrapper .pinterest {
  position: absolute;
  width: 22px;
  height: 22px;
  margin-left: 5px;
  margin-top: 5px;
}
