.LanguageContinent {
  flex: 1;
  margin: 0;
}

.LanguageContinent-name {
  font-size: 14px;
}

.LanguageContinent-separator {
  margin: 15px 15px 15px 0px;
}

.LanguageContinent-list-country {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 481px) {
  .LanguageCountry .LanguageCountry-text {
    font-size: 11px;
  }
  .LanguageCountry:nth-of-type(2n + 1) {
    width: 55%;
    justify-content: flex-start;
  }
  .LanguageCountry:nth-of-type(2n + 2) {
    width: 45% !important;
  }
}
