@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url(./styles/icon/cv-icon.css);
.App .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

* {
  margin: 0 auto;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

.App {
  width: 100%;
  height: 100%;
  background: #ebebeb;
}

.clear:before,
.clear:after {
  content: '\0020';
  display: block;
  height: 0;
  overflow: hidden;
}

.clear:after {
  clear: both;
}
